body {
    background-color: #0081F9;
    color: #fff;
}

#logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    text-indent: 9999px;
    width: 500px;
    height: 100px;
}

#game {
}
#game ul {
    clear: both;
    list-style-type: none;
}
#game ul li {
    border: 1px solid white;
   float: left;
   line-height: 30px;
   height: 30px;
   width: 30px;
   text-align: center;
   vertical-align: middle;
}
