// variables
$cellSpacing: 60px
$bgColor: #0081F9
$fgColor: #fff

// main
body
    background-color: $bgColor
    color: $fgColor
    text-align: center
    width: 100%

#logo
    background-image: url(../img/logo.png)
    background-repeat: no-repeat
    text-indent: 9999px
    width: 500px
    height: 100px
    margin: 0 auto
    
#game
    margin: 0 auto
    margin-top: 30px
    width: 500px

    ul
        clear: both
        list-style-type: none
        margin: 0
        padding: 0

        li 
            border: 1px solid #fff
            float: left
            width: $cellSpacing
            height: $cellSpacing
            line-height: $cellSpacing
            text-align: center
    
